.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.home_bre {
  padding: 24px;
  background-color: #f0f2f5;
}
.home_con {
  margin: 0 24px 16px 24px;
  background-color: #fff;
}
.home_rou {
  padding: 24px;
}

