.user_head {
  width: 100px;
  height: 100px;
}
.user_item {
  display: inline-block;
  width: 80px;
}
.user_son {
  width: 200px;
  height: 100px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
}
.user_header {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}